.sales-page {
  position: relative;
  min-height: calc(100vh - 100px);
}

.sales-header {
  display: flex;
  align-items: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sales-1 {
  background-color: #eeeeee;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin-right: 0;
}

.patient-name {
  color: #5f5f5f;
  font-weight: 400;
}

.sales-header h4 {
  margin: 0 10px;
  font-size: 16px;
}

.addsale-button {
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #b1b1b1;
  font-weight: 500;
}

.insurance-button {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  background-color: white;
  margin-left: auto;
  margin-right: 10px;
}

.sales-header button:hover {
  background-color: #444;
  color: white;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
  margin-left: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.toggle-button input {
  display: none;
}

.toggle-switch {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 10px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.toggle-button input:checked + .toggle-switch {
  left: calc(100% - 10px);
  background-color: #4caf50;
}

.sale-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sale-title div {
  margin-right: 20px;
  margin-left: 10px;
}

.sale-title h1 {
  color: #383838;
  font-size: 24px;
  font-weight: bold;
}

.sale-title input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 90%;
  text-align: center;
}

.clear {
  border: 1px solid #d6d5d5;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 0px;
}

.inputButton {
  border: 1px solid #bbbbbb;
  width: 65%;
  border-radius: 5px;
}

.removeAll {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.removeAll:hover {
  background-color: rgb(143, 143, 143);
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  padding: 5px;
  background-color: #ebebeb;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-up,
.footer-down {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer-left > .footer-down,
.footer-right > .footer-down {
  margin-top: auto;
}

.footer-left > .footer-up > div,
.footer-right > .footer-up > div,
.footer-left > .footer-down > div,
.footer-right > .footer-down > div {
  margin-right: 30px;
}

.footer-right > .footer-up button,
.footer-right > .footer-down button {
  border: 1px solid rgb(196, 196, 196);
  margin: 5px;
  border-radius: 5px;
}/*# sourceMappingURL=sales.css.map */